<h2 mat-dialog-title class="dialog-title">
  <mat-icon class="dialog-icon" color="primary">theaters</mat-icon>
  Estado de la Sala
</h2>

<mat-dialog-content class="dialog-content">
  <mat-icon class="info-icon" color="accent">info</mat-icon>
  <span class="mensaje-texto">{{ data.mensaje }}</span>
</mat-dialog-content>

<mat-dialog-actions class="dialog-button">
  <button mat-stroked-button color="primary" mat-dialog-close>
    <mat-icon>close</mat-icon> Cerrar
  </button>
</mat-dialog-actions>
