<h1 style="text-align:center;">Dashboard</h1>

<div class="dashboard-container">
  <mat-card class="dashboard-card">
    <mat-card-title>Total de Películas</mat-card-title>
    <mat-card-content>
      <h2>{{ totalPeliculas }}</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-title>Total de Salas de Cine</mat-card-title>
    <mat-card-content>
      <h2>{{ totalSalas }}</h2>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-title>Salas Disponibles</mat-card-title>
    <mat-card-content>
      <h2>{{ totalSalasDisponibles }}</h2>
    </mat-card-content>
  </mat-card>
</div>

